
.logo{
  /* border: 2px solid red; */
  width: 120px;
}
.menu li:hover{
  color: #0670da;

}

.menu li{
  color: black;
}

.active{
  color:  #0670da!important;
  background-color: transparent;
}
.active.active{
  color:  #0670da!important;
  background-color: transparent;
}

.navbar{
   height: fit-content;
}

li.active {
  background-color: transparent;
}

@media (max-width: 768px) {
  .menu {
    top: 100%;
    left: 20px;
  }
  .menu-drop{
    position: absolute;
    z-index: 100000;
    /* background: red; */
  }
}